<%- include('header') -%>
<%- include('navbar') -%>
<div id="profile">
    <div class="heading"><span style="color: white;"><%= hospitalName %></span></div>
    <div id="line"></div>
    <div> <span style="color: white;font-size: 20px;">Your Driver Id:-&emsp; <%= driverId %></span></div>
    <div style="color: white;margin-top: 2%;font-size: 20px;">Your Status:-&emsp;<span style="color:red;font-size: 25px;"> <%= driverStatus %></span></div>
    <div id="status-box">
        <div class="status-item">
            <form action="/currentStatus" method="post" style="display: inline;">
                <input name="driverId" value="<%= driverId %>" style="display: none;">
                <input name="hospitalName" value="<%= hospitalName %>" style="display: none;">
                <input name="hospitalAddress" value="<%= hospitalAddress %>" style="display: none;">
                <button type="submit">CHECK UPDATES</button>
                
            </form>
            <form action="/driverProfile" method="post" style="display: inline;">
                <input name="driverId" value="<%= driverId %>" style="display: none;">
                <input name="hospitalName" value="<%= hospitalName %>" style="display: none;">
                <input name="hospitalAddress" value="<%= hospitalAddress %>" style="display: none;">
                <button type="submit" style="background-color: orangered;">CHANGE STATUS</button>
                
            </form>
            
            <p style="color: white;margin-top: 15%;">As an ambulance driver with our organization, you will play a crucial role in the healthcare system, ensuring the safe and timely transport of patients in need. Your expertise and quick response are vital in emergency situations, and your professionalism and empathy bring comfort to patients and their families.</p>
        </div>
        <div class="status-item"><img src="qW6DTy.jpg"></div>
    </div>
</div>

<%- include('footer') -%>