<%- include('navbar') -%>
<%- include('header') -%>
<div id="active" style="padding-top: 4%;">
    <div class="heading" style="margin-top: 0%;padding-top: 0%;"><span style="color: whitesmoke;"><%= hospitalName %></span></div>
    <div id="line"></div>
    <div id="active-container">
        <% if(elem.length==0){ %>
            <div class="heading"><span style="color: yellowgreen;">NO ACTIVE CASES</span></div>
        <% } %>
        <% for(var i=0;i<elem.length;i++){ %>
            <div class="activeBox">
                <div style="font-size: medium;">patientName:- <%= elem[i]['patientName'] %></div>
                <div style="font-size: medium;">patientNumber:- <%= elem[i]['patientNum']%></div>
                <div style="font-size: medium;">patientAddress:- <%= elem[i]['patientAddress']%></div>
                <div style="font-size: medium;">Driver Name:- <%= driverName[i] %></div>
                <div style="font-size: medium;">Driver Number:- <%= driverNum[i] %></div>
            </div>
        <%}%>
    </div>
</div>

<%- include('footer') -%>