<%- include('navbar') -%>
<%- include('header') -%>
<div style="width: 1519px;height: 100vh;background-image: url('long-hospital-corridor-with-empty-seats_117023-1679.avif');padding-top: 8%;">
       <div id="hospital-location">
           <div class="heading">Location</div>
           <div id="line"></div>
           <br />
           <div id="location-detail">
            <form action="/" method="post">
                <input type="text" value="India" name="country" readonly style="background-color: lightgray;font-weight: bold;"><br>
                <select id="state" onchange="handleChange(this.value,'<%= allCitiesString %>')" name="state">
                    <option name="state">Select State</option>
                    <% for(var i=0; i < allState.length; i++){ %>
                        <option name="state"><%= allState[i].name %></option>
                    <% } %>
                </select>
                <select id="city" name="city">
                    <option>Select City</option>
                </select>
                <button type="submit">SUBMIT</button>
          
            </form>
        </div>
       </div>
    </div>
<script>
function handleChange(selectedState,elem){
    document.getElementById("city").innerHTML="<option>Select City</option>";
    var elem=JSON.parse(elem);
    var cities=(elem[selectedState]);
    cities.forEach(function(city) {
        var option = document.createElement("option");
        option.text = city.name;
        document.getElementById("city").add(option);
    });
}

</script>
<%- include('footer') -%>